<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <!-- Redisの接続情報, セキュリティの観点から 別configファイル や KeyVault に保存する -->
      <add key="CacheConnection" value="localhost" />
    </appSettings>
</configuration>